<li class="detail">
  <div>
    <img name="image" src="<%= book.image %>" alt="<%= book.title %>">
  </div>
  <h4 name="title"><%= book.title %></h4>
  <h5 name="authors"><%= book.authors %></h5>
  <p name="summary"><%= book.summary %></p>
  <p name="isbn"><%= book.isbn %></p>
  <p name="bookshelf"><%= book.bookshelf %></p>
  <% if (!book.id || typeof book.id !== 'number') { %>
    <h4 class="locallink">Select This Book</h4>
  <% } %>
  <% if (book.id && book.isbn === "") { %>
    <a href="/book/<%= book.id %>">View Book Details></a>
  <% } %>
  <% if (book.id && book.isbn !== "") { %>
    <a class="locallink" name="update">Update Book Details</a>
    <a class="locallink" href="/delete/<%= book.id %>">Delete Book</a>
    <p type="hidden" name="book_id" id="<%= book.id %>"></p>
  <% } %>
</li>