<li>
  <div>
    <img src="<%= book.image %>" alt="<%= book.title %>">
  </div>
  <h3><%= book.title %></h3>
  <h4><%= book.authors %></h4>
  <p><%= book.summary %></p>
  <a href="/<%= path_folder %>/<%= path_id %>"> <%= buttonname %> ></a>
</li>