<li>
  <div>
    <img name="image" src="<%= book.image %>" alt="<%= book.title %>">
  </div>
  <h3 name="title"><%= book.title %></h3>
  <h4 name="authors"><%= book.authors %></h4>
  <p name="summary"><%= book.summary %></p>
  <p name="isbn" value="<%= book.isbn %>"></p>
  <h4> <%= buttonname %></h4>
</li>