<!DOCTYPE html>
<html>

<head>
  <title>Search Results</title>
</head>

<body>
  <h1> hello world</h1>
  <main>
    <header></header>
    <div></div>
    <div>
      <ul>
        <% for (var book in allBooks) { %>
        <li>
          <div>
            <img src=<%= book.image %> alt=<%= book.title %>>
          </div>
          <h3><%= book.title %></h3>
          <% for (var author in book.authors) { %>
          <h4><%= author %></h4>
          <% } %>
          <p><%= book.summary %></p>
        <% } %>
          </li>
      </ul>
    </div>
    <footer></footer>
  </main>
</body>

</html>