<!DOCTYPE html>
<html>

<%- include("./layouts/head") %>

<body>
  <%- include("./layouts/header", {pagename: pagename}) %>
  <main>
    <div>
      <ul class="detail-wrapper">
        <% allBooks.forEach( book => { %>
          <%- include("./layouts/detail",{book:book}) %>
        <% }) %>
      </ul>
    </div>
    <%- include("./layouts/updateform",{formAction:'update', shelves: shelves}) %>
    <div class="footroom"></div>
    <%- include("./layouts/footer") %>
    </main>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/scripts/updatebook.js"></script> 
  <script src="/scripts/toggle.js"></script> 
  
</body>

</html>